nav {
    .list {
        display: flex;
        font-weight: 300;
        line-height: 28px;

        .item:not(:first-child) {
            margin-left: 64px;
        }

        .special {
            display: flex;

            &:last-child {
                margin-left: 60px;
            }

            .arrow {
                padding: 4px;
                transition: transform 0.3s;
                display: flex;
                align-items: center;

                &:hover {
                    transform: rotateX(3.142rad);
                }

            }
        }
    }


}