@font-face {
    font-family: 'Chakra Petch';
    font-display: block;
    src: url('ChakraPetch-Medium.eot');
    src: local('Chakra Petch Medium'), local('ChakraPetch-Medium'),
        url('ChakraPetch-Medium.woff2') format('woff2'),
        url('ChakraPetch-Medium.woff') format('woff'),
        url('ChakraPetch-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Chakra Petch';
    font-display: block;
    src: url('ChakraPetch-Regular.eot');
    src: local('Chakra Petch Regular'), local('ChakraPetch-Regular'),
        url('ChakraPetch-Regular.woff2') format('woff2'),
        url('ChakraPetch-Regular.woff') format('woff'),
        url('ChakraPetch-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Chakra Petch';
    font-display: block;
    src: url('ChakraPetch-Light.eot');
    src: local('Chakra Petch Light'), local('ChakraPetch-Light'),
        url('ChakraPetch-Light.woff2') format('woff2'),
        url('ChakraPetch-Light.woff') format('woff'),
        url('ChakraPetch-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Chakra Petch';
    font-display: block;
    src: url('ChakraPetch-Bold.eot');
    src: local('Chakra Petch Bold'), local('ChakraPetch-Bold'),
        url('ChakraPetch-Bold.woff2') format('woff2'),
        url('ChakraPetch-Bold.woff') format('woff'),
        url('ChakraPetch-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Chakra Petch';
    font-display: block;
    src: url('ChakraPetch-SemiBold.eot');
    src: local('Chakra Petch SemiBold'), local('ChakraPetch-SemiBold'),
        url('ChakraPetch-SemiBold.woff2') format('woff2'),
        url('ChakraPetch-SemiBold.woff') format('woff'),
        url('ChakraPetch-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}